
.form {
    display: flex; /* Usar flexbox para el dise침o */
    flex-direction: column; /* Alinear elementos verticalmente */
    width: 70%; /* Ancho del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
    padding: 20px;
    border: 1px solid #ccc; /* Borde del formulario */
    border-radius: 5px; /* Bordes redondeados */
  
  }
  
  .form input {
    align-self: center; /* centra los input*/
    width: 90%; /* Ancho completo para los campos de entrada */
    margin-bottom: 10px; /* Espacio entre campos */
    padding: 8px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde de los campos de entrada */
    border-radius: 3px; /* Bordes redondeados */
  }
  
  .form button {  
    align-self: center; /*contenedor al centro*/
    align-items: center;/* texto centrado*/
    width: 50%; /* Ancho completo para el bot칩n */
    padding: 10px; /* Espaciado interno */
    background-color: #5fa25b; /* Color de fondo del bot칩n */
    color: white; /* Color del texto del bot칩n */
    border: none; /* Sin borde */
    border-radius: 3px; /* Bordes redondeados */
  }
  
  .error-message {
      color: red;
      width:100%;
      height: 30px;
  }
  
  .Logo {
    width: 20%; /* Establece el ancho de la imagen al 100% del contenedor */
  }
  