  .container-editar-perfil {
    max-width: 35%;
    margin: 50px auto;
    padding: 50px;
    border: #ddd solid;
    border-radius: 8px;
    height: 55%;
  }

  label {
    margin-bottom: 8px;
    color: #ffffff;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .input-editar-Perfil {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
  }

  .contenedor-premium {
    margin-bottom: 100px;
    margin-top: 70px;

  }