.green-button {
    background-color: #5fa25b;
    color: white;
    padding: 10px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 3px; /* Bordes redondeados */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    margin-right: 20px; /* Margen derecho para separar los botones */
    margin-bottom: 50px;
    margin-top: 30px;
}
/*agregar css logo*/