.biblioteca{
    margin-top: 100px;
}
.favorites-list,.playlist-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items:start; 
}

 .favorite-item, .playlist-item {
    cursor: pointer;
    margin-left: 15px;
    border: 1px solid #5fa25b; /* Borde verde */
    border-radius: 5px; /* Bordes redondeados */
    max-width: 400px; /* Ancho máximo del elemento */
    width: 100%; /* Ancho completo del contenedor */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    padding: 10px; /* Añade padding para mayor comodidad visual */
    font-size: 16px; /* Ajusta el tamaño de la fuente si es necesario */
    display: flex; /* Usa Flexbox si necesitas alinear contenido dentro del elemento */
    align-items: center; /* Centra el contenido verticalmente si es necesario */
    text-decoration: none; /* Quita subrayado si es un enlace */
}

.create-playlist-button {
    background-color: #5fa25b; /* Cambia este color al que prefieras */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 200px;
    font-size: 16px;
    width: 150px;

}
.create-playlist-button:hover {
    background-color: #2b7427; /* Color al pasar el ratón por encima */
}

.playlist-title{
    display: flex;
    flex-direction: column;
    align-items:start; 
    margin-left: 15px;
    cursor: pointer;
    color:#5fa25b;
   
}

/* Estilos para el modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el modal esté en frente de otros elementos */
    
}

/* Contenido del modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    max-width: 80%;
    max-height: 90vh; /* Evita que el modal sea demasiado alto */
    overflow-y: auto; /* Permite desplazarse si el contenido es demasiado alto */
    text-align: center;
}

.modal-content h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #021a01;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.modal-content button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #5fa25b; /* Color de los botones */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #2b7427; /* Cambio de color al pasar el cursor */
}

.modal-content button:last-child {
    background-color: #f44336; /* Botón de cancelar en rojo */
}

.modal-content button:last-child:hover {
    background-color: #cc2926;
}

/* Estilos para la tarjeta de la canción seleccionada */
.card-playlist {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-playlist .SongCard {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilos para el contenedor del reproductor */
.reproductor-container {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

/* Estilos para el reproductor */
.reproductor {
    width: 100%;
}
