/* Estilos para las tarjetas de canciones */
.song-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
    min-height: 190px; /* Ajusta la altura mínima para asegurar tamaños uniformes */
    box-sizing: border-box;
}

.song-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.song-card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
    font-family: inherit;
}

.song-card p {
    margin: 0.5em 0;
    color: #666;
    font-size: 0.9em;
}

/* Contenedor para los botones */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Estilos para los botones */
.favorite-button, .add-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.favorite-button {
    color: red;
}

.favorite-button:hover {
    color: darkred;
}

.add-button {
    color: green;
}

.add-button:hover {
    color: darkgreen;
}

/* Estilos para la lista de tarjetas */
.song-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.song-list div {
    flex: 1 1 calc(33.333% - 32px);
    max-width: calc(33.333% - 32px);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .song-list div {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}

@media (max-width: 480px) {
    .song-list div {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* Estilos para los títulos de secciones */
.section-title {
    font-size: 2em;
    font-weight: bold;
    color: #5fa25b;
    text-align: center;
    margin: 24px 0;
}
